# Ignore all
*

# Include some files, exclude some
!README.md
!.gitignore
!*/

# Include some folders
!books/*
!olympics/*
!webapp/*

# Wait nevermind I don't want these
olympics/config.py
olympics/.DS_Store
books/.DS_Store